.nav-link {
  color: rgb(164, 213, 247);
}

a {
  color: black;  
}

a:hover {
  color: cyan;
}

h1 {
  color: rgb(223, 217, 217);
}

h2 {
  margin: 10px;
  color: black;
}

#pgTitle {
  color: rgb(223, 217, 217);
}

h3 {
  color: black;
}

h4 {
  color: rgb(0, 89, 255);
}

#canvas {
  margin: 1px;
  margin-top: 60px;
  padding: 20px; 
}

#about-me-img {
  float: left;
  margin-right: 10px;
}

img {
  max-width:100%;
  height:auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

#full {
  /* box-sizing: border-box; */
  margin-top: 10px;
  margin: 10px;
  background-color:rgb(24, 59, 48); 
  padding:60px;
  border-radius: 20px;
  border: #dddddd;
  border-width: 2px;  
  text-align: left;
  font-size: 30px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
  color: rgb(223, 217, 217);
}
 
#bottom {
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-size: small;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: 0;
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
}

#footer {
  position: static;
}
