* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #555;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c1110;
  padding: 0 1rem;
  height: 7vh;
  font-size: 1.75rem;
  opacity: .6;
}

nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
  cursor: pointer;

}

#modal {
  display: none;
  position: absolute;
  margin-top: 5px;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: .25rem;
  background-color: white;
  overflow: auto;
}

#overlay {
  display: none;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  
}

.modal {
  height: 80vh;
  width: 900px;
  max-width: 80%;
  overflow: auto;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #777;
  padding-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  align-self: flex-start;
  padding: 0.5rem;
}

.text-body {
  /* flex-grow: 1; */
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-top: 1px solid #777;
}

.footer .btn {
  margin-right: 0.5rem;
}

.footer .btn:last-child {
  margin-right: initial;
}

.btn {
  padding: 0.5em;
  font-size: inherit;
  border-radius: 0.3em;
  color: white;
  border: none;
  cursor: pointer;
}

#close-modal-btn {
  background-color: #c33;
}

#close-modal-btn:hover,
#close-modal-btn:focus {
  background-color: #a11;
}
