* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #555;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c1110;
  padding: 0 1rem;
  height: 7vh;
  font-size: 1.75rem;
  opacity: .6;
}

nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
  cursor: pointer;

}

#modal {
  display: none;
  position: absolute;
  margin-top: 5px;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 1rem;
  border-radius: .25rem;
  background-color: white;
  font-family: cursive;
  font-size: 1.5rem;
  overflow: auto;
}

#backdrop {
  display: none;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  
}

.headerModal {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid #777;
  padding-bottom: 0.5rem;
}

.titleModal {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: rgb(169, 162, 162);
}

.text-bodyModal {
  padding: 1rem;
}

.footerModal {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  border-top: 1px solid #777;
}

.footerModal .btnModal {
  margin-right: 0.5rem;
}

.footerModal .btnModal:last-child {
  margin-right: initial;
}

.btnModal {
  padding: 0.5em;
  font-size: inherit;
  border-radius: 0.3em;
  color: white;
  border: none;
  cursor: pointer;
}

#close-modal-btn {
  background-color: #c00c00;
}

#close-modal-btn:hover,
#close-modal-btn:focus {
  background-color: rgb(131, 49, 49);
}

a.closeModal {
  text-decoration: none;
  font: inherit;
  color: black;
}